/* =========== google fonts =========== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

/* ======== base style ======= */
:root{
  --website-6-color-1-dark:#0a071a;
  --website-6-color-1-light:#141124;
  --website-6-color-2-dark:#f76e11;
  --website-6-color-2-light:#f5b70a;
  --black: #000;
  --white:#fff;
  --gray:#c4c4c4;
  --icon-1:#2ace92;
  --icon-2:#7865ff;
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body,
html {
  background: #0a071a;
}

section,
footer {
  padding: 70px 0px;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #f5b70a;
}

p {
  font-size: 1rem;
  color: #c4c4c4;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

i {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  section {
    padding: 40px 0px;
  }
}
.logo-icon{
  width: 120px;
}

button:not(.filter-btn) {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  outline: none;
  box-shadow: none; 
  border: none; 
  background: var(--website-6-color-2-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
button:not(.filter-btn):hover {
  background: var(--website-6-color-2-light);
}
